.container {
  height: 100%;
}

.home-image {
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),  url(../backgrounds/image/home.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
  }

.overlay {
    color: purple;
    padding-top: 15em;
    position: relative;
    text-align: center;
}


    

