.container {
  height: 100%;
}

.projects-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../backgrounds/image/projects.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
}


/* .container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

