.header-color {
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
}
 
.header-color a:hover,
.header-color a:active {
    color: purple;
}

@media screen and (max-width: 800px) { 
  img.bg {
    left: 50%;
    margin-left: -400px;  
  }
} 


